<link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="JSeSyypSTmgys1UJsMBqaazDXhjosxnUMUKg7osZ8Dw" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YWCJ9R9H9H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YWCJ9R9H9H');
</script>
