{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">

  <h1>{{ i18n "page_not_found" }}</h1>
  <p> We are sorry that the hyperlink could not bring you to the desired page. </p>
  <p> Could you contact us <a href="mailto:sps.education@tue.nl&subject=[5ESE0]%20platform:%20broken%20link">here</a> by stating the previous page you visited and the link you wanted to access? </p>
  <p> By doing that we will be notified and will make sure that this does not happen anymore. </p>
  <p> Thanks in advance! </p>

  <p>{{ i18n "404_recommendations" }}</p>

  {{ $query := .Site.RegularPages }}
  {{ $count := len $query }}
  {{ if gt $count 0 }}
    <h2>{{ i18n "user_profile_latest" }}</h2>
    {{ range first 10 $query }}
    <ul>
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    </ul>
    {{ end }}
  {{ end }}

</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
